<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mholt2587.boredapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.StoryActivity"></activity>
        <activity android:name=".ui.SportsButtonActivity"></activity>
        <activity android:name=".ui.FairsButtonActivity"></activity>
        <activity android:name=".ui.YelpButtonActivity"></activity>
        <activity android:name=".ui.OutdoorsButtonActivity"></activity>
        <activity android:name=".ui.FacebookButtonActivity"></activity>
        <activity android:name=".ui.MarketsButtonActivity"></activity>
        <activity android:name=".ui.PPRButtonActivity"></activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBV-G2U_QfRf88hrLwdMqf1cwDVYJpA3AY" />

    </application>

</manifest>